<!-- configuration for logback http://logback.qos.ch/ -->
<configuration>
    <!-- logs to console -->
    <appender name="APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- http://logback.qos.ch/manual/layouts.html#conversionWord -->
            <pattern>%date %-5level %logger - %message%n</pattern>
        </encoder>
    </appender>

    <!-- default logging level -->
    <root level="info">
        <!-- reference to the used appender -->
        <appender-ref ref="APP"/>
    </root>

    <!-- list of logger prefixes with non-default logging levels -->
    <logger name="org" level="info"/>
    <logger name="cz.muni.fi.pa165" level="debug"/>
    <logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="off"/>
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="off" />
    <logger name="org.hibernate" level="warn"/>
    <logger name="org.springframework.web" level="info"/>
    <logger name="org.springframework" level="warn"/>

</configuration>
