<!-- configuration for logback http://logback.qos.ch/ -->
<configuration debug="false">
    <!-- logs to console -->
    <appender name="APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- http://logback.qos.ch/manual/layouts.html#conversionWord -->
            <pattern>%date %-5level %logger - %message%n</pattern>
        </encoder>
    </appender>

    <!-- default logging level -->
    <root level="warn">
        <!-- reference to the used appender -->
        <appender-ref ref="APP"/>
    </root>

    <!-- list of logger prefixes with non-default logging levels -->
    <logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="off"/>
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="off"/>
</configuration>
